.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}

/* styles for nav, form, buttons, etc. */
/* Path: public_html/Project/styles.css */
nav {
    background-color: rgb(200, 182, 200);
}

form {
    background-color: lightblue;
}

button {
    background-color: grey;
}

/* styles for table, table header, table row, table data, etc. */
/* Path: public_html/Project/styles.css */
table {
    background-color: white;
}

th {
    background-color: orange;
}

tr {
    background-color: lightgreen;
}

td {
    background-color: lightgrey;
}

/* styles for footer, footer header, footer row, footer data, etc. */
/* Path: public_html/Project/styles.css */
footer {
    background-color: black;
}

footer h3 {
    background-color: pink;
}

footer p {
    background-color: darkgrey;
}

footer a {
    background-color: brown;
}

/* styles for media queries */
/* Path: public_html/Project/styles.css */
